h1{
    text-align: center;
    width: 100%;
}

.btn_container {
    width: 100%;
    height: 100px;
    position: relative;
}

.input-file, .info-btn, .save-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(50% - 165px);
    width: 330px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.info-btn {
    background-image: url('icons/information-button.png');
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    height: 15px;
    width: 15px !important;
    background-color: transparent;
    border: 0px;
    left: calc(50% + 142px)!important;
    top: 41%;
}

.save-container {
    left: calc(50% - 30px)!important;
}
.saved-info{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.error{
    width: 100%;
    padding: 10px;
    color: red;
    text-align: center;
}

.emp-tbl {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.emp-tbl, th, td{
    border: 1px solid black;
}

.btn-delete {
    background-image: url('icons/remove.png') !important;
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 0px;
}

