<div class="form">
    <h3>Information</h3>
    

<div>
    Plese select, a xml file like:
<pre>
&lt;?xml version=&quot;1.0&quot;?&gt;
&lt;Employees&gt;
    &lt;Employee&gt;
        &lt;FirstName&gt;First&lt;/FirstName&gt;
        &lt;LastName&gt;Second&lt;/LastName&gt;
        &lt;ContactNo&gt;1234567890&lt;/ContactNo&gt;
        &lt;Email&gt;email@xyz.com&lt;/Email&gt;
        &lt;Address&gt;
            &lt;City&gt;City&lt;/City&gt;
            &lt;Street&gt;Street&lt;/Street&gt;
            &lt;StreetNr&gt;1&lt;/StreetNr&gt;
            &lt;HouseNr&gt;1&lt;/HouseNr&gt;
            &lt;Zip&gt;01123&lt;/Zip&gt;
        &lt;/Address&gt;
    &lt;/Employee&gt;
&lt;/Employees&gt;
</pre>
</div>
</div>
