img {
    
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.user-info {
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    text-align: right;
    padding: 5px !important;
    background-color: transparent;
}
a b{
    color: black;
    font-weight: bold;
}

#logout-btn {
}


