@inherits LayoutComponentBase

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <ul class="mainmenutop">
            <li><LoginControl/></li>
        </ul>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
