@page "/adduser"
@using System
@using System.IO;
@using FabricAPP.Models;
@using FabricAPP.ViewModels;
@using FabricAPP.Interfaces;
@inject IAddEmployeeViewModel addEmployeeViewModel

<h1>Add user</h1>

<EditForm Model="@addEmployeeViewModel" OnSubmit="@AddEmloyee" style="position: relative">
    <div class="emloyee-add-form">
        <div>
            <label for="FirstName">Name: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.FirstName" name="FirstName" id="FirstName" class="FirstName" />
            </div>
        </div>
        <div>
            <label for="LastName">Last name: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.LastName" name="LastName" id="LastName" />
            </div>
        </div>
        <div>
            <label for="GetPhoneNr">Phone nr: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.ContactNo"name="GetPhoneNr" id="GetPhoneNr" />
            </div>
        </div>
        <div>
            <label for="Email">Email: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.Email" name="Email" id="Email" />
            </div>
        </div>
        <div>
            <label for="City">City: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.Address.City" name="City" id="City" />
            </div>
        </div>
        <div>
            <label for="Street">Street: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.Address.Street" name="Street" id="Street" />
            </div>
        </div>
        <div>
            <label for="StreetNr">Street nr: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.Address.StreetNr" name="StreetNr" id="StreetNr" />
            </div>
        </div>
        <div>
            <label for="HouseNr">House nr: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.Address.HouseNr" name="HouseNr" id="HouseNr" />
            </div>
        </div>
        <div>
            <label for="GetZipCode">Zip code: </label>
            <div class="input-value">
                <InputText @bind-Value="addEmployeeViewModel.Employee.Address.Zip" name="GetZipCode" id="GetZipCode" />
            </div>
        </div>
        <div class="btn-container">
            <div class="add-user-btn">
                <button type="submit">Submit</button>
            </div>
        </div>
        @if (@Error)
        {
            <div class="error" id="error">
                @ErrorMsg
            </div>
        }
        @if (@Succes)
        {
            <div style="text-align: center">
                Employee: @addEmployeeViewModel.Employee.FirstName @addEmployeeViewModel.Employee.LastName added succesfully
            </div>
        }
    </div>
</EditForm>



@code {
        bool Error;
        bool Succes;
        string ErrorMsg = "";

        async void AddEmloyee()
        {
            try
            {
                Succes = false;
                Error = false;
                _ = await addEmployeeViewModel.AddUser();
                Succes = true;
        }
        catch(Exception ex)
        {
            ErrorMsg = ex.Message;
            Error = true;
        }
    }
}