h1 {
    text-align: center;
    width: 100%;
}

.input-file, .info-btn, .save-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(50% - 165px);
    width: 330px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.error {
    width: 100%;
    padding: 10px;
    color: red;
    text-align: center;
}

.emp-tbl {
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}

.emp-tbl, th, td {
    border: 1px solid black;
}

.btn-delete, .btn-save {
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 0px;
}

.btn-delete {
    background-image: url('icons/remove.png') !important;
}

.btn-save {
    background-image: url('icons/check.png') !important;
}
